<footer class="text-center py-4 mt-5 bg-light">
  <div class="container">
    <p class="mb-0">
      &copy; <%= new Date().getFullYear() %> Corpo Bandistico di Castelcovati. Tutti i
      diritti riservati.
    </p>
    <p>C.F. 02095050171</p>
  </div>
</footer>