<footer class=" row text-center py-4 mt-5 bg-light">
  <p class="mb-0">
    &copy; <%= new Date().getFullYear() %> Corpo Bandistico di Castelcovati. Tutti i
    diritti riservati.
  </p>
  <p>C.F. 02095050171</p>
</footer>
