<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">Banda</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarBanda"
      aria-controls="navbarBanda"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarBanda">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="CorpoBandisticoDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Corpo Bandistico
          </a>
          <ul class="dropdown-menu" aria-labelledby="CorpoBandisticoDropdown">
            <li>
              <a class="dropdown-item" href="/storia">Storia</a>
            </li>
            <li>
              <a class="dropdown-item" href="/direttore"
                >Il Direttore Artistico</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/consiglio">Consiglio Direttivo</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/accademia/index"
            id="accademiaDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Accademia
          </a>
          <ul class="dropdown-menu" aria-labelledby="accademiaDropdown">
            <li>
              <a class="dropdown-item" href="/accademia/#">Chi Siamo</a>
            </li>
            <li>
              <a class="dropdown-item" href="/accademia/sceltaCorsi">Corsi</a>
            </li>
            <li>
              <a class="dropdown-item" href="/accademia/insegnanti">Insegnanti</a>
            </li>
            <li>
              <a
            class="dropdown-item"
            href="/pdf/regolamento-accademia.pdf"
            target="_blank"
            >Regolamento e Costi</a
          >
            </li>
            <li>
              <a class="dropdown-item" href="/accademia/contatti">Iscriviti</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="sostenitoriDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sostienici
          </a>
          <ul class="dropdown-menu" aria-labelledby="sostenitoriDropdown">
            <li>
              <a class="dropdown-item" href="/dona">Fai una Donazione</a>
            </li>
            <li>
              <a class="dropdown-item" href="/partner">I nostri Partner</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contatti">Contatti</a>
        </li>
      </ul>
      <!-- <a class="btn btn-outline-light" href="/accademia">Vai all'Accademia</a> -->
      
    </div>
  </div>
</nav>

