<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #7fc8f8"
>
  <div class="container">
    <a class="navbar-brand" href="/accademia">Accademia</a>
    
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarAccademia"
      aria-controls="navbarAccademia" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse" id="navbarAccademia">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/accademia/sceltaCorsi">Corsi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accademia/insegnanti">Insegnanti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pdf/regolamento-accademia.pdf" target="_blank">Regolamento e Costi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accademia/contatti">Contatti</a>
        </li>
      </ul>
      <a class="btn btn-outline-primary" href="/">Torna alla Banda</a>
    </div>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
  // CHIUSURA AUTOMATICA NAVBAR DOPO CLICK
  document.querySelectorAll(".nav-link").forEach((link) => {
    link.addEventListener("click", () => {
      const navbar = document.getElementById("navbarAccademia");
      if (navbar.classList.contains("show")) {
        const collapse = bootstrap.Collapse.getOrCreateInstance(navbar);
        collapse.hide();
      }
    });
  });
</script>
