<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/accademia">Accademia</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/accademia/corsi">Corsi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accademia/contatti">Contatti</a>
        </li>
      </ul>
      <a class="btn btn-outline-primary" href="/">Torna alla Banda</a>
    </div>
  </div>
</nav>
