<%- layout('layout') -%>
<h1>Chi Siamo</h1>
<p>Informazioni sul Corpo Bandistico di Castelcovati.</p>
<div class="container my-5">
  <h1 class="mb-4">Chi Siamo</h1>

  <div class="row">
    <div class="col-md-6">
      <h3>La nostra storia</h3>
      <p class="mt-3">Il Corpo Bandistico di Castelcovati è un'associazione storica che si dedica alla promozione della musica e della cultura musicale nella nostra comunità. Fondata nel 1900, la banda ha una lunga tradizione di concerti, eventi e collaborazioni con altre associazioni locali.</p>
    </div>

    <div class="col-md-6">
      <h3>La nostra missione</h3>
      <p class="mt-3">La nostra missione è quella di diffondere la passione per la musica, offrendo opportunità di formazione e partecipazione a tutti coloro che desiderano unirsi a noi. Siamo impegnati a mantenere viva la tradizione musicale e a coinvolgere le nuove generazioni.</p>
    </div>
  </div>

  <div class="text-center mt-5">
    <a href="/contatti" class="btn btn-primary">Contattaci per maggiori informazioni</a>
  </div>
</div>
