<% layout('layout') -%>

<div class="container my-5">
  <h1 class="mb-4 text-center">Contatti</h1>

  <div class="row">
      <h3>📞 Informazioni di Contatto</h3>
      <p>
        <i class="bi bi-envelope"> </i>
        <a href="mailto:corpobandistico.castelcovati@gmail.com"
          >corpobandistico.castelcovati@gmail.com</a
        >
      </p>
      <p>
        <i class="bi bi-telephone"> </i>
        <a href="tel:+393717711684">+39 371 771 1684</a>
      </p>
      <p>
        <i class="bi bi-whatsapp"> </i>
        <a href="https://wa.me/393717711684" target="_blank"
          >+39 371 771 1684</a
        >
      </p>
      <p>
        <i class="bi bi-geo-alt"> </i>
        <a
          href="https://www.google.com/maps?q=Via+Aldo+Moro+79+-+Castelcovati+(BS)+-+presso+il+campo+sportivo"
          target="_blank"
          >Via Aldo Moro 79 - Castelcovati (BS) - presso il campo sportivo</a
        >
      </p>
      <p>
        <i class="bi bi-instagram"> </i
        ><a href="https://www.instagram.com/banda.castelcovati" target="_blank">
          banda.castelcovati</a
        >
      </p>
      <p>
        <i class="bi bi-facebook"> </i>
        <a href="https://www.facebook.com/banda.castelcovati" target="_blank">
          Corpo Bandistico di Castelcovati</a
        >
      </p>
      <p>
        <i class="bi bi-envelope"> </i>
        <a href="mailto:corpobandistico.castelcovati@pec.it">
          corpobandistico.castelcovati@pec.it</a
        >
      </p>
    </div>   
  </div>
</div>
