<%- layout('layout') -%>
<div class="container my-5">
  <h1 class="mb-4">Il Direttore Artistico</h1>

  <div class="row">
    <div class="col-md-6">
      <h3>Chi è il Direttore Artistico</h3>
      <p class="mt-3">Il Direttore Artistico del Corpo Bandistico di Castelcovati è il Maestro [Nome Direttore], un musicista di grande esperienza e talento, che guida la banda con passione e dedizione.</p>
    </div>

    <div class="col-md-6">
      <h3>Il suo ruolo</h3>
      <p class="mt-3">Il Direttore Artistico è responsabile della direzione musicale della banda, della scelta del repertorio e della preparazione dei musicisti per i concerti e gli eventi.</p>
    </div>
  </div>
</div>