<% layout('layout') %>

<h1 class="display-4 mb-3">Banda Musicale</h1>
<p class="lead">Benvenuto nella home della banda!</p>

<div class="row">
  <p>"A volte, qualcuno sostiene amaramente, la gente avverte la funzione della banda solo quando manca, come succede per le persone il cui affetto si dà per scontato per lunga consuetudine, e poi, quando ci lasciano, ci consegnano a una incolmabile solitudine. Non cadiamo in questo pericolo: sosteniamo con costanza la nostra banda con lo stimolo, ai nostri giovani, perché si formino musicalmente e ne facciano parte."

<br>
<p class="text-end"><strong>GIULIANO GRITTI</strong></p>
</div>
